@use '../../styles/variables' as *;

header {
    position: absolute;
    .header-wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0.5rem 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            ul {
                display: flex;
                align-items: center;
                gap: 2rem;

                a {
                    &:nth-child(2) {
                        border-top: 2px solid white;
                    }

                    height: 100%;
                    padding-top: 1rem;
                    li {
                        color: white;
                    }
                }
            }
        }

        .logo-container {
            @media (max-width: 993px) {
                // background-color:transparent;
            }
            img {
                @media (max-width: 993px) {
                    // mix-blend-mode: color-dodge !important;
                }
                width: 100px;
            }
        }
        @media (max-width: 1024px) {
            nav {
                display: none;
            }
        }
        @media (max-width: 700px) {
            padding-inline: 2rem;
        }
        @media (max-width: 500px) {
            padding-inline: 1rem;
        }
        @media (max-width: 382px) {
            .logo-container {
                background-color: transparent;

                img {
                }
            }
        }
    }
}
.menu {
    position: relative;
    z-index: 10000 !important;
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }

    .open {
        cursor: pointer !important;
    }

    .overlay {
        position: fixed;
        // position:relative;
        z-index: 10000 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        background-color: $black;
        width: 100%;
        height: 100vh;
        inset: 0;
        padding: 4rem;
        clip-path: polygon(0 100%, 75% 100%, 75% 100%, 0% 100%);
        transition: clip-path 100ms ease;
        opacity: 0;
        pointer-events: none;

        ul {
            display: block;
            &:last-child {
                // display:none;
            }
        }

        button {
            color: white;
        }
        .close {
            cursor: pointer !important;
            z-index: 10000 !important;
            display: block !important;
        }

        button {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 4rem;
            right: 4rem;
            font-size: 2rem;
            color: white;
            z-index: 1000000 !important;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            li {
                color: white !important;
                font-weight: 700;
            }
        }
    }
    @media (max-width: 500px) {
        .overlay {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @media (max-width: 1024px) {
        .overlay {
            ul {
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    // display:none;
                }
                &:last-child {
                    display: flex;
                }
            }
        }
    }
}
