@use "../../styles/variables" as *;

.icon-cards-section {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline:0;
        padding-block-end:0;

        .icon-card {
            background-color:$gray;
            padding:2rem;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-block:6rem;

            &:nth-child(1) {
                border:1px solid $black;
                border-right:none;
            }
            &:nth-child(2) {
                border:1px solid $black;
            }
            &:nth-child(3) {
                border:1px solid $black;
                border-left:none;
            }

            img {
                width:200px;
            }

            h3 {
                margin-block:2rem 1rem;
            }

            p {
                text-align:center;
                max-width:40ch;
            }
        }
    }
}