@use "../../styles/variables" as *;

main {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height:98vh;
        max-height:1000px;
        padding-block:0rem;
        padding-inline:0;


        .hero-image-grid {
            width:clamp(450px, 45%, 700px);
            margin:0;
            &:nth-child(1) {
                align-self:flex-end;
            }
            &:nth-child(3) {
                align-self:flex-start;
            }
        }

        .hero-text {
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position:relative;

            & > img {
                width:2rem;
                position:absolute;
                bottom:-12rem;

                @media(max-width:943px) {
                    bottom:-7rem;
                    width:1.5rem;
                }
            }
            h1 {
                max-width:18ch;
                text-align:center;
                color:black;
                font-family:concrete !important;
                margin-block:-2.5rem;
                z-index:10;
                font-size:clamp($mobile-h1, 8vw, $h1);

                .animated {
                    width:725px;
                    width:clamp(360px, 50vw, 725px);
                }
            }
            p {
               max-width:50ch;
               text-align:center;
               margin-block-start:2rem;
            }
        }
      
    }

    @media(max-width:630px) {
        .wrapper {
            .hero-image-grid {
                width:clamp(300px, 70%, 450px);
            }
        }
    }
    @media(max-width:426px) {
        .wrapper {
            .hero-text {
                padding-inline:1rem;
                h1 {
                    font-size:clamp(32px, 10vw, $mobile-h1);

                    .animated {
                        width:725px;
                        width:clamp(220px, 65vw, 300px);
                    }
                }
            }
        }
    }
    @media(max-width:387px) {
        .wrapper {
            .hero-image-grid {
                width:clamp(250px, 70%, 300px);
            }
        }
    }
}


.cls-2 {
    stroke-dashoffset: 1100;
    stroke-dasharray: 1100;
    transition:500ms;
}