@use "../../styles/variables" as *;


.about-section {
    .wrapper {
        padding-block:12rem;
        display:flex;
        flex-direction: column;
        align-items: center;


        .content {

            h2 {
                margin-block-end:2rem;
                max-width:16ch;

                & > div {
                    overflow:hidden;
                }

                & > div > div {
                    transform:translateY(8rem);
                }
            }
            p {
                max-width:40ch;
                line-height:1.6;
                text-align:justify;
                font-size:$mobile-h3;
                clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                transition: clip-path 500ms ease;
                
                
            }
            button {
                margin-block-start:3rem;
            }
        }

        
    }
}