@use "./variables" as *;

.animations-section {
    background-color:$black;
    overflow:hidden;
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:4rem;
        row-gap:32rem;
        align-items: center;
        padding-block:12rem;
        position:relative !important;

        @media(max-width:490px) {
            gap:2rem;
            row-gap:32rem;
        }

        img {
            width:100%;
            height:500px;
            object-fit:cover;
            opacity:0.5;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                opacity:0;
            }
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
                opacity:0;
            }
        }

        svg {
            position:absolute;
            width:clamp(400px, 50%, 750px);
            top:50%;
            left:50%;
            z-index:10;
            transform:translate(-50%, -50%);

            @media(max-width:490px) {
                width:90%;
            }
            


            
        }
    }
}

.cls-1 {
    stroke-dashoffset: 1100;
    stroke-dasharray: 1100;
}

.height {
    height:50vh;
    background-color:$black;
}