@use "./variables" as *;

main {
    background-image:linear-gradient(#00000061, #00000061),url(../public/images/hero-image-frame.png);
    background-size:cover;
    background-position:center;

    @media(max-width:600px) {
        background-image:linear-gradient(#00000085, #00000085),url(../public/images/hero-image-frame.png);
    }
    .wrapper {
        height:98lvh;
        max-height:1000px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position:relative;

       
        h1 {
            display:flex;
            flex-direction: column;
            align-items: center;
            font-size:clamp($mobile-h1, 8vw, $h1);
            text-align:center;
            .animated {
                width:725px;
                width:clamp(360px, 50vw, 725px);

            }
        }
    }
}

.cls-2 {
    stroke-dashoffset: 1100;
    stroke-dasharray: 1100;
    transition:500ms;
}