@use "./variables" as *;

@font-face {
    src:url("../Candide Bold.ttf");
    font-family:concrete;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

body {
    background-color:$white;
}

// Images & Icons

img {
    width:100%;

    &.icon {
        width:2rem;
    }
}
// Images & Icons End

// Links
a {
    text-decoration: none;
    color:$black;
}

// Links End

// List
ul {
    list-style:none;
}
// List End

// Section Layout

section,
main,
header,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width:100%;
        max-width:1440px;
        padding:4rem 4rem;
    }

    @media (max-width:700px) {
        .wrapper {
            padding-inline:2rem;
        }
    }
    @media (max-width:500px) {
        .wrapper {
            padding-inline:1rem;
        }
    }
}