*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: #000001;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 4rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  color: black;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}
@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}
@media (max-width: 500px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}
@media (max-width: 500px) {
  h3 {
    font-size: 18px;
  }
}

p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 16px;
  font-family: "Darker Grotesque", sans-serif;
}

li,
label,
button {
  font-family: "Darker Grotesque", sans-serif;
}

button {
  background-color: #000001;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid #000001;
  display: flex;
  align-items: center;
  padding: 0.75rem 2rem;
  position: relative;
  line-height: 1;
  cursor: pointer;
}
button span {
  display: flex;
  align-items: center;
  position: absolute;
  right: -10%;
}
button span svg {
  width: 2rem;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

header {
  position: absolute;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper .logo-container {
  background-color: #ffffff;
}
header .header-wrapper .logo-container img {
  mix-blend-mode: difference !important;
  width: 100px;
}
@media (max-width: 1024px) {
  header .header-wrapper {
    justify-content: center;
  }
  header .header-wrapper nav {
    display: none;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

main .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-block-start: 9rem;
}
main .wrapper .left-column {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr 0.5fr;
}
main .wrapper .left-column .left-column-item:not(:nth-child(2)) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 600ms ease-in-out;
  transition: clip-path 600ms ease-in-out;
  transition: clip-path 600ms ease-in-out, -webkit-clip-path 600ms ease-in-out;
}
main .wrapper .left-column .left-column-item:not(:nth-child(2)) p {
  margin-block: 1rem 2rem;
  max-width: 50ch;
}
main .wrapper .left-column .left-column-item:nth-child(2) {
  height: 100%;
}
main .wrapper .left-column .left-column-item:nth-child(2) img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
main .wrapper .right-column {
  display: grid;
  gap: 2rem;
}
main .wrapper .right-column .right-column-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
main .wrapper .right-column .right-column-top .right-column-top-left img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
main .wrapper .right-column .right-column-top .right-column-top-right {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr 2fr;
}
main .wrapper .right-column .right-column-top .right-column-top-right .hero-card {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  padding: 1rem;
  gap: 1rem;
  transform: translateY(4rem);
  opacity: 0;
}
main .wrapper .right-column .right-column-top .right-column-top-right .hero-card img {
  width: 30px;
}
main .wrapper .right-column .right-column-top .right-column-top-right .hero-card-alternate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #000001;
  transform: translateY(4rem);
  opacity: 0;
}
main .wrapper .right-column .right-column-bottom img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
@media (max-width: 1024px) {
  main .wrapper {
    grid-template-columns: 1fr;
  }
  main .wrapper .left-column {
    grid-template-rows: 0.5fr 0.5fr;
  }
  main .wrapper .left-column .left-column-item:not(:nth-child(2)) {
    padding-block: 4rem;
    align-items: center;
  }
  main .wrapper .left-column .left-column-item:not(:nth-child(2)) h1 {
    max-width: 18ch;
    line-height: 1.3;
    text-align: center;
  }
  main .wrapper .left-column .left-column-item:not(:nth-child(2)) p {
    text-align: center;
  }
}
@media (max-width: 820px) {
  main .wrapper .right-column .right-column-top {
    grid-template-columns: 1fr;
  }
  main .wrapper .right-column .right-column-top .right-column-top-right {
    grid-row: 1;
  }
}

.icon-cards-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 0;
  padding-block-end: 0;
}
.icon-cards-section .wrapper .icon-card {
  background-color: #F7F7F7;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-block: 6rem;
}
.icon-cards-section .wrapper .icon-card:nth-child(1) {
  border: 1px solid #000001;
  border-right: none;
}
.icon-cards-section .wrapper .icon-card:nth-child(2) {
  border: 1px solid #000001;
}
.icon-cards-section .wrapper .icon-card:nth-child(3) {
  border: 1px solid #000001;
  border-left: none;
}
.icon-cards-section .wrapper .icon-card img {
  width: 200px;
}
.icon-cards-section .wrapper .icon-card h3 {
  margin-block: 2rem 1rem;
}
.icon-cards-section .wrapper .icon-card p {
  text-align: center;
  max-width: 40ch;
}
@media (max-width: 820px) {
  .icon-cards-section .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .icon-cards-section .wrapper .icon-card {
    padding-inline: 1rem;
  }
  .icon-cards-section .wrapper .icon-card img {
    width: 60%;
  }
}

.selector-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.selector-section .wrapper .selector-left-column {
  padding: 8rem 4rem;
}
.selector-section .wrapper .selector-left-column h2 {
  max-width: 20ch;
}
.selector-section .wrapper .selector-left-column p {
  max-width: 40ch;
  margin-block: 2rem 0rem;
}
.selector-section .wrapper .selector-left-column .list {
  display: grid;
  gap: 2rem;
  margin-block: 3rem 4rem;
}
.selector-section .wrapper .selector-left-column .list .list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.selector-section .wrapper .selector-left-column .list .list-item img {
  width: 2rem;
}
.selector-section .wrapper .selector-right-column {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  height: 100%;
}
.selector-section .wrapper .selector-right-column .selector-images {
  margin-block-end: -0.3rem;
  position: relative;
}
.selector-section .wrapper .selector-right-column .selector-images img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 500ms ease;
}
.selector-section .wrapper .selector-right-column .selector-images img:not(:first-child) {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.selector-section .wrapper .selector-right-column .selector-images img.active {
  opacity: 1;
  transition: opacity 500ms ease;
}
.selector-section .wrapper .selector-right-column .selector-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #000001;
  gap: 0.1rem;
}
.selector-section .wrapper .selector-right-column .selector-buttons .selector-button {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
  cursor: pointer;
  transition: background-color 300ms ease;
}
.selector-section .wrapper .selector-right-column .selector-buttons .selector-button h3 {
  color: white;
  transition: color 300ms ease;
}
.selector-section .wrapper .selector-right-column .selector-buttons .selector-button img {
  width: 2rem;
  transform: rotateZ(90deg);
  transition: transform 300ms ease;
}
.selector-section .wrapper .selector-right-column .selector-buttons .selector-button:hover {
  background-color: #ffffff;
  transition: background-color 300ms ease;
}
.selector-section .wrapper .selector-right-column .selector-buttons .selector-button:hover h3 {
  color: #000001;
  transition: color 300ms ease;
}
.selector-section .wrapper .selector-right-column .selector-buttons .selector-button:hover img {
  transform: rotateZ(0);
  transition: transform 300ms ease;
}
@media (max-width: 820px) {
  .selector-section .wrapper {
    grid-template-columns: 1fr;
  }
  .selector-section .wrapper .selector-right-column .selector-buttons .selector-button {
    padding-block: 2rem;
  }
}
@media (max-width: 700px) {
  .selector-section .wrapper .selector-left-column {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .selector-section .wrapper .selector-left-column {
    padding-inline: 1rem;
  }
}

.animations-section {
  background-color: #000001;
  overflow: hidden;
}
.animations-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  row-gap: 32rem;
  align-items: center;
  padding-block: 12rem;
  position: relative !important;
}
@media (max-width: 490px) {
  .animations-section .wrapper {
    gap: 2rem;
    row-gap: 32rem;
  }
}
.animations-section .wrapper img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.animations-section .wrapper img:nth-child(1), .animations-section .wrapper img:nth-child(2), .animations-section .wrapper img:nth-child(3) {
  opacity: 0;
}
.animations-section .wrapper img:nth-child(8), .animations-section .wrapper img:nth-child(9), .animations-section .wrapper img:nth-child(10) {
  opacity: 0;
}
.animations-section .wrapper svg {
  position: absolute;
  width: clamp(400px, 50%, 750px);
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
@media (max-width: 490px) {
  .animations-section .wrapper svg {
    width: 90%;
  }
}

.cls-1 {
  stroke-dashoffset: 1100;
  stroke-dasharray: 1100;
}

.height {
  height: 50vh;
  background-color: #000001;
}

.contact-section {
  background-color: #000001;
  background-image: url(../public/images/contact-background.png);
  background-position: center;
}
.contact-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0;
}
.contact-section .wrapper .contact-form {
  background-color: rgba(0, 0, 1, 0.0078431373);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 450px;
  padding: 2rem;
  height: 100%;
}
@media (max-width: 600px) {
  .contact-section .wrapper .contact-form {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .contact-section .wrapper .contact-form {
    width: 90%;
  }
}
.contact-section .wrapper .contact-form h3 {
  color: white;
  text-align: center;
  margin-block: 2rem 4rem;
}
.contact-section .wrapper .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.contact-section .wrapper .contact-form form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.contact-section .wrapper .contact-form form fieldset label {
  color: white;
}
.contact-section .wrapper .contact-form form fieldset input,
.contact-section .wrapper .contact-form form fieldset textarea {
  width: 100%;
  padding: 0.75rem;
}
.contact-section .wrapper .contact-form form button {
  margin-block-start: 2rem;
}/*# sourceMappingURL=style.css.map */