@use "../../styles/variables" as *;

.cta-section {
    background-color:$black;
    background-image:url(../../public/images/contact-background.png);
    background-position:center;
    .wrapper {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:0;

        .blur {
            background-color:#00000102;
            backdrop-filter: blur(10px);
            padding:2rem;
            width:450px;
            padding:8rem 4rem;
            height:100%;
            // opacity:0;
            // transition: opacity 500ms  ease;
        }
        

        h2 {
            color:white;
        }
        p {
            color:white;
            margin-block:2rem 3rem;
        }
    }
   
}