@use "../../styles/variables" as *;

main {
    .wrapper {
        padding-block-start:6rem;
        height:98vh;
        max-height:1000px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
       .swiper {
        width:clamp(400px, 50%, 700px);

       
        overflow:visible;
        .swiper-wrapper {
            width:100%;
            margin-inline:auto;

            .swiper-slide {
                width:100%;
                scale:0.75;
                transition:scale 300ms ease;


                    &.swiper-slide-active {
                        scale:1;
                        transition:scale 300ms ease;
                    }

                img {
                    width:100%;
                    max-height:420px;
                    object-fit:cover;
                    
                }
            }
        }
    }
    h1 {
        max-width:24ch;
        text-align:center;
        color:$black;
        font-family:concrete !important;
        z-index:10;
        font-size:clamp($mobile-h1, 8vw, $h1);
        margin-block-start:1rem;

        @media(max-width:900px) {
            margin-block-start:8rem;
        }

        .animated {
            width:725px;
            width:clamp(360px, 50vw, 725px);
        }
    }
    }
}

.cls-2 {
    stroke-dashoffset: 1200;
    stroke-dasharray: 1200;
    transition:500ms;
}

.swiper-button-next {
    transition:500ms ease scale;
    img {
        width:3rem;
        background-color:white;
        border-radius:100%;
    }
    &:hover {
        scale:1.05;
        transition:500ms ease scale;
    }
    &::after {
        content:"" !important;
    }
}
.swiper-button-prev {
    transition:500ms ease scale;
    img {
        width:3rem;
        background-color:white;
        border-radius:100%;
    }
    &:hover {
        scale:1.05;
        transition:500ms ease scale;
    }
   &::after {
        content:"" !important;
       
    }
}


  
