@font-face {
  src: url("../Candide Bold.ttf");
  font-family: concrete;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: #000001;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 4rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 112px;
  line-height: 1.1;
  color: white;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  font-family: concrete;
}
@media (max-width: 500px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  font-family: concrete;
}
@media (max-width: 500px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}
@media (max-width: 500px) {
  h3 {
    font-size: 18px;
  }
}

p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  font-family: "Darker Grotesque", sans-serif;
}

li,
label,
button {
  font-family: "Darker Grotesque", sans-serif;
}

button {
  background-color: #000001;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid #000001;
  display: flex;
  align-items: center;
  padding: 0.75rem 2rem;
  position: relative;
  line-height: 1;
  transition: background-color 500ms ease, color 500ms ease !important;
  cursor: pointer;
}
button span {
  display: flex;
  align-items: center;
  position: absolute;
  right: -10%;
}
button span svg {
  width: 2rem;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
button:hover {
  background-color: transparent;
  color: #ffffff;
  transition: background-color 500ms ease, color 500ms ease !important;
}
button:hover span svg circle {
  fill: black;
  transition: fill 500ms ease;
}
button:hover span svg path {
  fill: white;
  transition: fill 500ms ease;
}

header {
  position: absolute;
}
header .header-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0.5rem 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper nav ul a {
  height: 100%;
  padding-top: 1rem;
}
header .header-wrapper nav ul a:nth-child(3) {
  border-top: 2px solid #000001;
}
header .header-wrapper nav ul a li {
  color: #000001;
}
header .header-wrapper .logo-container {
  background-color: #ffffff;
}
header .header-wrapper .logo-container img {
  width: 100px;
}
@media (max-width: 1024px) {
  header .header-wrapper nav {
    display: none;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

.menu {
  position: relative;
  z-index: 10000 !important;
  display: none;
}
@media (max-width: 1024px) {
  .menu {
    display: block;
  }
}
.menu .open {
  cursor: pointer !important;
}
.menu .overlay {
  position: fixed;
  z-index: 10000 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  background-color: #000001;
  width: 100%;
  height: 100vh;
  inset: 0;
  padding: 4rem;
  -webkit-clip-path: polygon(0 100%, 75% 100%, 75% 100%, 0% 100%);
          clip-path: polygon(0 100%, 75% 100%, 75% 100%, 0% 100%);
  opacity: 1;
  transition: -webkit-clip-path 100ms ease;
  transition: clip-path 100ms ease;
  transition: clip-path 100ms ease, -webkit-clip-path 100ms ease;
}
.menu .overlay ul {
  display: block;
}
.menu .overlay button {
  color: white;
}
.menu .overlay .close {
  cursor: pointer !important;
  z-index: 10000 !important;
  display: block !important;
}
.menu .overlay button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 2rem;
  color: white;
  z-index: 1000000 !important;
}
.menu .overlay ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.menu .overlay ul li {
  color: white !important;
  font-weight: 700;
}
@media (max-width: 500px) {
  .menu .overlay {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .menu .overlay ul:last-child {
    display: flex;
  }
}

main .wrapper {
  padding-block-start: 0rem !important;
  margin-block-start: 6rem;
  height: 96svh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  main .wrapper {
    gap: 4rem;
  }
}
@media (max-width: 511px) {
  main .wrapper {
    justify-content: center !important;
  }
}
main .wrapper .swiper {
  width: clamp(400px, 50%, 700px);
  height: 100%;
  overflow: visible;
}
@media (max-width: 484px) {
  main .wrapper .swiper {
    width: 90%;
  }
}
main .wrapper .swiper .swiper-wrapper {
  width: 100%;
  margin-inline: auto;
}
main .wrapper .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  scale: 0.75;
  transition: scale 300ms ease;
}
main .wrapper .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  scale: 1;
  transition: scale 300ms ease;
}
main .wrapper .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .wrapper h1 {
  max-width: 24ch;
  text-align: center;
  color: #000001;
  font-family: concrete !important;
  z-index: 10;
  font-size: clamp(64px, 8vw, 112px);
  margin-block-start: 1rem;
}
main .wrapper h1 .animated {
  width: 725px;
  width: clamp(360px, 50vw, 725px);
}
@media (max-width: 430px) {
  main .wrapper h1 {
    font-size: clamp(40px, 16vw, 64px);
  }
  main .wrapper h1 .animated {
    width: clamp(250px, 50vw, 360px);
  }
}

.cls-2 {
  stroke-dashoffset: 1200;
  stroke-dasharray: 1200;
  transition: 500ms;
}

.swiper-button-next {
  transition: 500ms ease scale;
}
.swiper-button-next img {
  width: 3rem;
  background-color: white;
  border-radius: 100%;
}
.swiper-button-next:hover {
  scale: 1.05;
  transition: 500ms ease scale;
}
.swiper-button-next::after {
  content: "" !important;
}
@media (max-width: 511px) {
  .swiper-button-next img {
    width: 2.5rem;
  }
}

.swiper-button-prev {
  transition: 500ms ease scale;
}
.swiper-button-prev img {
  width: 3rem;
  background-color: white;
  border-radius: 100%;
}
.swiper-button-prev:hover {
  scale: 1.05;
  transition: 500ms ease scale;
}
.swiper-button-prev::after {
  content: "" !important;
}
@media (max-width: 511px) {
  .swiper-button-prev {
    justify-content: center !important;
  }
  .swiper-button-prev img {
    width: 2.5rem;
  }
}

.cta-section {
  background-color: #000001;
  background-image: url(../../public/images/contact-background.png);
  background-position: center;
}
.cta-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.cta-section .wrapper .blur {
  background-color: rgba(0, 0, 1, 0.0078431373);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2rem;
  width: 450px;
  padding: 8rem 4rem;
  height: 100%;
  min-height: 650px;
  opacity: 0;
  transition: opacity 500ms ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 700px) {
  .cta-section .wrapper .blur {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .cta-section .wrapper .blur {
    padding-inline: 1rem;
  }
}
.cta-section .wrapper h2 {
  color: white;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 700ms ease;
  transition: clip-path 700ms ease;
  transition: clip-path 700ms ease, -webkit-clip-path 700ms ease;
}
.cta-section .wrapper p {
  color: white;
  margin-block: 2rem 3rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 700ms ease;
  transition: clip-path 700ms ease;
  transition: clip-path 700ms ease, -webkit-clip-path 700ms ease;
}
.cta-section .wrapper button {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 700ms ease;
  transition: clip-path 700ms ease;
  transition: clip-path 700ms ease, -webkit-clip-path 700ms ease;
}
@media (max-width: 490px) {
  .cta-section .wrapper .blur {
    width: 90%;
  }
}

.projects-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.projects-section .wrapper .projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 8rem;
  place-items: center;
  width: 100%;
}
.projects-section .wrapper .projects-grid .projects-grid-item {
  width: 75%;
  transform: translateY(4rem);
  opacity: 0;
}
.projects-section .wrapper .projects-grid .projects-grid-item .absolute {
  position: absolute;
  font-weight: 700;
  font-family: concrete;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  left: -2rem;
}
@media (max-width: 500px) {
  .projects-section .wrapper .projects-grid .projects-grid-item .absolute {
    left: -1.1rem;
    font-size: 12px !important;
  }
}
.projects-section .wrapper .projects-grid .projects-grid-item h3 {
  margin-block-start: 1rem;
}
.projects-section .wrapper .projects-grid .projects-grid-item p {
  margin-block-start: 0.5rem;
  max-width: 50ch;
}
.projects-section .wrapper .projects-grid .projects-grid-item img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 620px) {
  .projects-section .wrapper .projects-grid {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .projects-section .wrapper .projects-grid .projects-grid-item {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .projects-section .wrapper .projects-grid {
    grid-template-columns: 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .projects-section .wrapper .projects-grid .projects-grid-item {
    width: 100%;
  }
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .wrapper .footer-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding-block-end: 4rem;
}
footer .wrapper .footer-top .footer-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .wrapper .footer-top .footer-logo-container img {
  width: 150px;
}
footer .wrapper .footer-top nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .wrapper .footer-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding-block-start: 4rem;
  border-block-start: 0.5px solid #000001;
}
footer .wrapper .footer-bottom a {
  font-family: "Darker Grotesque", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
footer .wrapper .footer-bottom a img {
  width: 150px;
}/*# sourceMappingURL=style.css.map */